{% extends "base.html" %}
{% block title %}
Blog
{% endblock %}
{% block content %}
    <div class="conatiner p-font">
        <div class="row mr-2 ml-2">
            <div class="col">
                <h3 class="custom-dark header-font">Benefits and struggles of creating your personal web-page</h3>
                <h5 class="align-right medium-grey">October 29th, 2019</h5>
            </div>
        </div>
        <div class="row mr-2 ml-2">
            <div class="col-md-4">
                <img class="img-fluid" src="./static/code.jpg" />
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body dark-blue">
                        <h3>How to automatically fill input elements with Tampermonkey userscripts for react applications.</h3>
                        <p>
                            Any QA or Software Engineer knows how to manipulate DOM elements for the purpose of e2e tests.
                            Generally used in automation frameworks, where simple logic such as getting element by using selector and setting its value 
                            works seamlessly. 
                            This approach still works on React application if used with some frameworks, but frameworks or libraries generally know what 
                            we are trying to do by setting element's value to something.
                            However, userscript with same approach may not work on React application! 
                            When we are changing element's value on the DOM, React does not trigger the change event. In which case we need to 
                            propgate value to the React component. 

                            For the purpose of the example code, we are using Southwest webapp that uses React at the time of writing this article.

                            Here is the sample code that woudl generally work in the framework, or not on React webapp. But in our case it does not. 


                        </p>   
                    </div>
                </div>
            </div>
        </div>
        <div class="row mr-2 ml-2 mt-4">
            <div class="col">
                <h3 class="custom-dark header-font">Building your first app</h3>
                <h5 class="align-right medium-grey">October 30th, 2019</h5>
            </div>
        </div>
        <div class="row mr-2 ml-2">
            <div class="col-md-4">
                <img class="img-fluid" src="./static/app.jpg" />
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body dark-blue">
                        Building your first app can be scary and frustrating. But that is ok, it is supposed to be. 
                        If you are new to engineering, start small and stay organized while building.
                        The following steps could be a good start:
                        <ul>
                            <li>Come up with a goal or a mission - simply what it is that your app is going to do for the people</li>
                            <li>Scetch a wireframe on a piece of paper</li>
                            <li>Find design insiration</li>
                            <li>Define your tech stack</li>
                            <li>Create wireframe</li>
                            <li>Start building... </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}